@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

$primary-color: #007bff;
$secondary-color: #f8f9fa;
$text-color: #343a40;
$border-radius: 0.5rem;

* {
    font-family: "Outfit", sans-serif;
}
.launches-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: $primary-color;
}

.launch-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin: 0;
}

.launch-item {
  background: $secondary-color;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-2px);
  }

  .launch-details {
    padding: 1rem;
    text-align: center;

    .mission-name {
      font-size: 1.25rem;
      font-weight: bold;
      color: $primary-color;
    }

    .launch-date,
    .rocket-name {
      display: block;
      font-size: 0.9rem;
      color: $text-color;
    }
  }

  .launch-image {
    img {
      width: 100%;
      height: 200px; // Altura fija para todas las imágenes
      object-fit: cover; // Asegura que la imagen cubra el área sin distorsionar
      display: block;
      border-top: 1px solid #ddd;
    }
  }
}
