<h1 class="launches-title">Lanzamientos</h1>
<ul class="launch-list">
  @for (launch of launches(); track launch) {
    @if (launch && launch.links && launch.links.flickr_images && launch.links.flickr_images.length > 0) {
      <li class="launch-item">
        <div class="launch-details">
          <strong class="mission-name">{{ launch.mission_name }}</strong>
          <span class="launch-date">{{ launch.launch_date_utc | date: 'short' }}</span>
          <span class="rocket-name">{{ launch.rocket?.rocket_name }}</span>
        </div>
        <div class="launch-image">
          <img [src]="launch.links.flickr_images[0]" alt="{{ launch.mission_name }}" />
        </div>
      </li>
    }
  }
</ul>
